
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

.pageNav {
  position: absolute;
  width: auto;
  left: -500%;
  list-style: none;
  background: #fff;
  
  border-radius: 4px;
  top: -1.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.pageNav-home-icon {
  position: fixed;
  cursor:pointer;
  z-index: 2;
  bottom: 5%;
  left: 38%;
  height: 100px;
  width: 100px;
  font-size:100px;  
  
  display: inline-block;	
    text-shadow: 0 0 10px #222,1px 1px  0 #450505;
    color: red;
    animation: latidos 2s infinite;
    transform-origin: center;
  
  
}

.pageNav-back-icon {
  position: fixed;
  cursor:pointer;
  z-index: 2;
  bottom: 2%;
  left: 2%;
  height: 50px;
  width: 50px;
  font-size:50px;
  
}

.pageNav-forward-icon {
  position: fixed;
  cursor:pointer;
  z-index: 2;
  bottom: 2%;
  right: 2%;
  height: 50px;
  width: 50px;
  font-size:50px;
  
}

.pageNav-pageBack-icon {
  position: fixed;
  cursor:pointer;
  z-index: 2;
  bottom: 2%;
  left: 20%;
  height: 50px;
  width: 50px;
  font-size:50px;
  
}

.pageNav-pageForward-icon {
  position: fixed;
  cursor:pointer;
  z-index: 2;
  bottom: 2%;
  right: 20%;
  height: 50px;
  width: 50px;
  font-size:50px;
  
}
